body, .ui.menu{
  font-family:Roboto, ui-sans-serif;
}
.ui.menu .item>img:not(.ui){
  width:200px;
  padding-left:10px;
}
h1.ui.header{
  font-size:48px;
  line-height:62px;
}

h2.ui.header{
  font-size:32px;
  line-height:40px;
}

h3.ui.header{
  font-size:16px;
  line-height:24px;
}

.ui.menu.header{
  font-size:16px;
  font-family:Roboto, ui-sans-serif;
}

.ui.header{
  font-family:Adventor;
}

.ui.menu a.item:hover, .ui.secondary.menu a.item:hover{
  background-color:none;
  background:none;
  color: #e85627;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  gap: 6rem;
}
.grid-block{
  padding-bottom:50px;
  padding-left:50px;
}
.services-section .icon{
  font-size:40px;
}
.first-section .flex-section{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 160px;
  align-items: center;
}
.first-section>.ui{
  padding-left:50px;
}

.flex-section{
  display: flex;
  justify-content: space-between;
  width:100%;
  padding-top:160px;
  padding-bottom:160px;
}
.third-width{
  width:33.3%;
}
.two-third-width{
  width:66.6%;
}
.half-width{
  width:50%;
}
.full-width{
  width:100%;
}
.two-inputs{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between; 
}
.two-inputs .field{
  width:50%;
}
.two-inputs .field:first-child{
  margin-right:20px;
}

input{
  font-family: "Roboto", sans-serif;
}

.ui.form input[type=text], .ui.form textarea{
  padding:16px 25px;
  line-height:24px;
  min-height:60px;
  border-radius:0px;
}

.ui.primary.button{
  height:60px;
  min-width: 195px;
  border-radius:0px;
  font-size: 16px;
  font-family:"Adventor";
  background-color:#ff7a29;
}
.ui.primary.button:hover{
  background-color:#e85627;
}
.ui.primary.button:focus{
  background-color:#ff7a29;
}
/****** CONTACT US ******/
.lightgray-section{
  background-color:rgba(248,248,248,1);
}


/****** FOOTER ******/
.footer {
  padding-top:50px;
  padding-bottom:50px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: #000;
  color:white;
}
.footer .ui.header{
  color:white;
}
.boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.footer .links{
  display: flex;
  flex-direction: column;
}
.links a{
  color:inherit;
  height:30px;
  font-size:16px;
}
.footer a:hover{
  opacity:70%;
}

.footer .social .icon{
  font-size:32px;
  color:white;
  margin-right:20px;
}